.filterButtonHome {
  background-color: #ffc857;
  padding: 2.5em;
  margin: 1em;
  border: none;
  color: #4b3f72;
  border-radius: 1em;
  font-weight: bolder;
}
.filterButtonHome:hover {
  background-color: #119da4;
}
.filterButtonHome:focus {
  background-color: #119da4;
}
.homeFiltersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
