.productPageImage {
  width: 25em;
  height: 25em;
  padding: 2em;
  margin: 5em 0em 15em 0em;
}
.productContainer {
  display: flex;
  justify-content: space-around;
}
.productForm {
  width: 50%;
  margin: 5em 0em 15em 0em;
}
.ProfileActivity {
  overflow: scroll;
  width: 50em;
}
@media screen and (max-width: 480px) {
  .productContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productPageImage {
    margin: 0;
  }
  .productForm {
    width: 70%;
    margin: 0;
  }
  .productPageImage {
    width: 15em;
    height: 15em;
    margin: 0;
    padding: 0;
  }
}
